<li>
  <div style="margin-bottom: 1em;">
    <strong>{{ post.title }}</strong><br/>

    {% if post.authors %}
      <span style="font-style: italic;">{{ post.authors }}</span><br/>
    {% endif %}

    {% if post.venue %}
      {{ post.venue }}, {{ post.date | date: "%Y" }}
    {% endif %}

    {% if post.paperurl %}
      <br/><a href="{{ post.paperurl }}" target="_blank">🔗 Link to paper</a>
    {% endif %}

    {% if post.doi %}
      <br/><a href="https://doi.org/{{ post.doi }}" target="_blank">📄 DOI</a>
    {% endif %}

    {% if post.hal %}
      <br/><a href="{{ post.hal }}" target="_blank">📥 HAL</a>
    {% endif %}
  </div>
</li>
